<h3>An error occured while processing your request.</h3>
<h5>
    Please contact to system administartor
</h5>
<h3>Exception details:</h3>
@*<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>
<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>
<div class="alert alert-danger">
    <h5>Exception StackTrace</h5>
    <hr />
    <p>@ViewBag.Stacktrace</p>
</div>*@
