
@{
    ViewBag.Title = "Not found";
}

<h1>
    @ViewBag.ErrorMessage
</h1>
<h4>@ViewBag.Path</h4>
<h4>@ViewBag.QS</h4>
<a asp-controller="Home" asp-action="Index" style="width:auto">Click here to view list of employee</a>